/*-----------------------------------------------------------------
- Mixins
-----------------------------------------------------------------*/


// Media query
@mixin bp($class: xs) {
  @if $class == xs {
    @media (max-width: (map_get($bp-sizes, 'sm')-1) + 'px') { @content; }
  }

  @else if $class == sm {
    @media (min-width: map_get($bp-sizes, 'sm') + 'px') { @content; }
  }

  @else if $class == md {
    @media (min-width: map_get($bp-sizes, 'md') + 'px') { @content; }
  }

  @else if $class == lg {
    @media (min-width: map_get($bp-sizes, 'lg') + 'px') { @content; }
  }

  @else if $class == xl {
    @media (min-width: map_get($bp-sizes, 'xl') + 'px') { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}


@mixin bounce-animation($color, $opacity: 0.7) {
  0% {
    box-shadow: 0 0 0 0 rgba($color, $opacity);
  }

  70% {
    box-shadow: 0 0 0 10px rgba($color, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba($color, 0);
  }
}
