/*-----------------------------------------------------------------
- Badge
-----------------------------------------------------------------*/

.badge {
  display: inline-flex;
  align-items: center;
  padding: 2px 10px;
  background-color: rgba(#000, 0.9);
  color: $color-white;
  border-radius: 5px;
  font-size: 0.75rem;
  cursor: pointer;
}
