/*-----------------------------------------------------------------
- Forms
-----------------------------------------------------------------*/

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  label {
    font-weight: bold;
    margin-bottom: 15px;
    color: $font-base-color;
    font-size: 1.1rem;
    line-height: 1.5;
  }

  textarea,
  input {
    background-color: mix($color-gray-darkest, #000, 80);
    border: 2px solid $color-gray-darker;
    border-radius: 8px;
    resize: none;
    outline: none;
    color: $font-base-color;

    &:focus {
      border-color: $color-gray-dark;
    }
  }

  textarea {
    padding: 20px;
    font-size: 1.1rem;
    line-height: 1.5;
  }
}
