/*-----------------------------------------------------------------
- Modal
-----------------------------------------------------------------*/

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(#000, 0.7);
  z-index: 900;
  width: 100%;
  overflow: auto;
  padding: 0 15px;
}

.modal {
  background-color: $color-gray-darkest;
  color: white;
  max-width: 800px;
  width: 100%;
  margin: 100px auto 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: $border-radius;
  overflow-x: auto;
  transform: translateY(0);

  &__header {
    padding: 10px 30px;
    border-bottom: 1px solid $color-gray-darker;
    display: flex;
    align-items: center;

    .title {
      font-size: 1.5rem;
      margin: 0;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  &__body {
    width: 100%;
    padding: 30px;
  }
}
