/*-----------------------------------------------------------------
- Player button
-----------------------------------------------------------------*/

.player-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 0;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $color-primary;
  outline: none;
  cursor: pointer;
  color: #000000;

  &:disabled {
    background-color: mix($color-primary, $color-gray-lightest);
    color: mix(#000000, #fff, 90)
  }
}

.bounce {
  animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
  @include bounce-animation($color-primary)
}
